<div class="container-fluid" style="align-content: center;">

  <h1 style="background-color: crimson; font-display: inherit; ">Inquiery form</h1>

  <form [formGroup]="MarvellousForm">

    <div class="form-group">
      <label>Name : </label>
      <input class="form-control" FormControlName="Name`">
    </div>

    <div class="form-group">
      <label>Mobile Number : </label>
      <input type="number" class="form-control" FormControlName="MobileNo">
    </div>

    <div class="form-group">
      <label>Email id : </label>
      <input type="email" class="form-control" FormControlName="Emailid">
    </div>

    <div class="form-group">
      <label>Enquiery Type : </label>
      <input type="text" class="form-control" FormControlName="EnquieryType">
    </div>

    <div class="form-group">
      <label>Description : </label>
      <input type="text" class="form-control" FormControlName="EnquierDescription">
    </div>

  </form>

  <button type="submit" class="btn btn-primary">Submit </button>

  {{MarvellousForm.value | json}}
</div>