<p>2. Create the application which contains two services named as Number and String.
  Number service contains one method named as ChkPrime() which accepts number and
  check whether that number is prime or not.
  String service contains one method named as CountCapital() which counts number of
  capital characters and return its count.
  We have to create two child component named as Child1 & Child2 under app component
  Child1 uses Number service & Child2 uses String service using Dependency Injection.
  Call both the methods from the respective components by passing some hardcoded values
  and display the result</p>

<div style="text-align:center">

  <div style="text-align:center">
    <label> check number is prime or not :</label><br>
    <input [(ngModel)]="num" type="number"><br>
    <button (click)="chkPrime()">Check</button><br>
    <h2 style="color: cadetblue;">
      {{strprime}}
    </h2>
  </div>

  <div style="text-align:center">
    <label>counter number of capital charcters in String :</label><br>
    <input [(ngModel)]="str" type="text"><br>
    <button (click)="CountCapital()">Check</button><br>
    <h2 style="color: cadetblue;">
      Count of capital charcters in the given string is : {{ capsCnt}}
    </h2>
  </div>
</div>