<div style="text-align:center">

  <p>1.Create application which contains two components as app and
    Child. Child component contains one textbook and one button.
    User enters text in that text box and when user press the
    button data from that textbook should be sent to parent
    component ie app. After getting data from Child component
    app component will display the data using string interpolation. </p>


  <app-child (myEmitter)="title = $event"></app-child>

  <h3>Parent Component Data = {{title}}</h3>
</div>