<div style="align-items: center;">
    <h1>Assigment 12</h1>
    <p>
        1.Create the application which contains two routes as Technologies and Books. In Technology
        route display names of technologies as Angular, Node JS, Android, Big data, Artificial
        Intelligence etc and Books route displays the names of books that we can refer.
        Create Angular project with routing support. Add two components for each route. Add its
        entry in Routes array and check the execution by adding the name of route at the end of URL
        manually
    </p>
</div>

<router-outlet></router-outlet>