<p>3. Create the application which contains two services named as Number and String.
  Number service contains one method named as ChkPrime() which accepts number and
  check whether that number is prime or not.
  String service contains one method named as CountCapital() which counts number of
  capital characters and return its count.
  We have to create one child component named as Child under app component uses
  Number service String service using Dependency Injection.
  Call both the methods from the components by passing some hardcoded values and display
  the result</p>

<app-child></app-child>