<div style="text-align:center">
  <h3>4. Create angular application which will demonstrate the concept of string
    interpolation. For this purpose create new component named as NewComp and
    render that from App component. Inside that new component add one class
    property as name.</h3>

  <h3>Display that Name in small case-> </h3>
  <h1>{{lowercase()}}</h1>

  <h3>Display that Name in capital case. -> </h3>
  <h1>{{Name.toUpperCase()}}</h1>

  <h3>Display Name of string. -> </h3>
  <h1>{{Name}}</h1>

  <h3>Display new string after concatenation with “Infosystems” -> </h3>
  <h1>{{Name + "Infosystems"}} </h1>
</div>