<div style="text-align:center">

  <p>1. Create the application which contains two components as First and second
    Display specific text from both the component. Text of first component should be
    displayed in Red colour and for second component use Blue colour.
    Follow same steps as the above application. As we want to specify the colours we have to
    write the colours specification in appropriate .css file of each component.</p>

  <h1>Answer : use of class binding </h1>

  <app-first></app-first>
  <app-second></app-second>

</div>