<div style="align-items: center;">
    <h1>Assigment 12</h1>
    <p>
        3. Create the similar application (Question 2) as above and add navigation tabs to navigate
        between that two routes. Add one another route which displays “Wrong choice” when user
        gives wrong route name. Display Technologies route as a default route which gets
        automatically displayed when we open the application.
    </p>
    <nav>
        <a routerLink="/books">Books</a>
        <a routerLink="/technology">Techanology</a>
    </nav>

</div>

<router-outlet></router-outlet>